.tasks {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  word-break: break-word;
  min-height: 63px;
}

.tasks__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dedede;
}

.tasks__item--hidden {
  display: none;
}

.tasks__item--done .tasks__content {
  text-decoration: line-through;
}

.tasks__button {
  padding: 0;
  border: none;
  color: white;
  height: 30px;
  width: 30px;
  background-color: #008000;
  cursor: pointer;
  transition-duration: 0.2s;
}

.tasks__button:hover {
  background-color: #009900;
}

.tasks__button:active {
  background-color: #00b300;
}

.tasks__button--remove {
  background-color: #ff0000;
}

.tasks__button--remove:hover {
  background-color: #ff4d4d;
}

.tasks__button--remove:active {
  background-color: #ff8080;
}
