.buttons {
  display: flex;
}

@media screen and (max-width: 768px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons__button {
  padding: 0;
  margin: 0;
  border: 0;
  color: #008080;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.2s;
  margin: 0 0 0 30px;
}

@media screen and (max-width: 768px) {
  .buttons__button {
    margin: 20px 0 0 0;
  }
}

.buttons__button:hover {
  color: #009999;
}

.buttons__button:active {
  color: #00b3b3;
}

.buttons__button:disabled {
  color: #d3d3d3;
  pointer-events: none;
}
